<div class="order-main-cnt">
    <div class="order-img">
        <img src="assets/orderplaced.jpg" alt="">
    </div>
    <div class="order-detail">
       <div class="order-detail-header">
            <span class="email">Email us</span><span>Contact us</span><span>Address</span>
       </div>
       <div class="user-detail-main">
        <div class="details"> <span>nanddu@gmail.com</span></div>
        <div class="details"> <span>9876543210</span></div>
        <div class="details"> <span>1441,7th Bangalore,Karnataka-560032</span></div>
       </div>
    </div>
    <button mat-raised-button color="primary" class="continue-btn" (click)="handleBook()">CONTINUE SHOPPING</button>

</div>