<div class="header-main-cnt">
    <div class="header-cnt">
    <div class="header-book-cnt">
    <img class="keep-pic" src="assets/education.svg">
    <span>BookStore</span>
    </div>
    <div class="header-search-cnt">
    <input class="search-input" type="text" placeholder="search...">
    <mat-icon class="search-icon" svgIcon="search-icon"></mat-icon>
    </div>
    <div class="header-cart-cnt" routerLink="cart">
    <mat-icon svgIcon="cart-icon"></mat-icon>
    <span>Cart</span>
    </div>
    <div class="header-profile-cnt">
    <mat-icon svgIcon="profile-icon"></mat-icon>
    <span>Profile</span>
    </div>
</div>
</div>
