<!-- <div class="orderlist-items">
    <span class="home" (click)="handleBook()">Home / </span>
    <span class="items">My OrderList</span>
 </div>
    <div class="orderlist-cnt" *ngFor="let order of orderList" >
        <span class="orderplaced" >Order placed on {{order.OrderDate}} </span>
                <div class="content"   >
                    
                    <div class="book-img">
                       <img src="{{ order.BookImage}}" alt=""> 
                    </div>
                    <div class="cart-detail">
                        <span class="booktitle">{{order.BookName}}</span>
                        
                        <div>
                        <span style="color: #818181;;">{{order.AuthorName}}</span>
                    </div>
                        <div class="rating-cnt">
                            <span class="sellingprice"><b>Rs.{{order?.Price}}</b><span class="offer">Rs.1999</span></span>
                        </div>
                    </div>  
                    
                </div>
            </div>
     -->

     <div class="orderlist-main-cnt">
        <div class="title-nav">
            <span class="home-nav" (click)="handleBook()">Home</span>
            <span class="order-nav">/ My Order</span>
        </div>
        <div class="orderlist-cnt" *ngIf="orderList.length > 0">
                <div *ngFor="let item of orderList" class="orderlist-books-cnt">
                    <img src="{{item.BookImage}}" alt="image is not found" class="book-image-cnt">
                    <div class="book-details">
                       <span class="book-name">{{item.BookName}}</span>
                       <span class="author-name">{{item.AuthorName}}</span>
                       <span class="price">Rs. {{item.Price}}</span>
                    </div>
                    <ul class="circle-list">
                        <li><span class="order-date">Order placed on {{item.OrderDate}}</span></li>
                    </ul>
                </div>
        </div>
        <div *ngIf="orderList.length === 0" class="empty-orderlist">
            <span class="content">Your wishlist is empty</span>
        </div>
    </div>
