.cart-outer-cnt
{
    
    height: fit-content;
    width: 65%;
    border: 1px solid rgba(230, 225, 225, 0.644);
    background-color: rgba(235, 224, 224, 0.066);
    margin-left: 11%;
    border-radius: 4px;
    margin-top: 2%;
    //margin-bottom: 2.5%;
}
.count-cnt
{
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-wrap: wrap;
    // justify-content: space-around;
    gap: 60%;
}
.loc-icon-cnt{
    padding: 5px;
    height: 18%;
    width: fit-content;
    border: 1px solid;
display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.loc-icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.img-cnt
{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin-left: 5%;
    height: 100%;
    // width: 100%;
    padding: 35px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;

}
.content img{
    height:80px;
    display: flex;
    
}
.content
{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    // margin-left: 8%;
    gap: 15px;
    
}
.booktitle
{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    font-size: large;
    font-weight: 500;
}
.originalprice
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    color: #616161;
    text-decoration: line-through;
    font-size: 80%;
    font-weight: 100;
}
.sellingprice
{
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;

    font-weight: bold;
}
.button
{
    height: fit-content;
}
.count
{
    // height: 100%;
    display: flex;
    // flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 65%;
}.countvalue
{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10%;
    width: 30%;
    border: 1px solid;
}
.increament
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 15%;
    border: 1px solid;
    border-radius: 100%;
}
.bottom
{
    height: 10%;
    width: 65%;
    // border: 1px solid rgba(230, 225, 225, 0.644);
    // background-color: rgba(235, 224, 224, 0.066);
    margin-left: 11%;
    border-radius: 4px;
    margin-top: 1%;
    display: flex;
    align-items: center;
}
.address-detail{
    width: 65%;
    border: 1px solid rgba(230, 225, 225, 0.644);
    background-color: rgba(235, 224, 224, 0.066);
    margin-left: 11%;
    height: fit-content;
    border-radius: 3px;
    margin-top: 1%;
}
.customer-details-header{
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #272626;
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
width: 100%;
background-color:  rgba(235, 224, 224, 0.066);
}
.address-main{
   display: flex;
}
.address-cnt textarea{
    resize: none;
    height: 60px;
}
.address-btn{
    display: flex;
    width: 40%;
    justify-content: end;
    align-items: end;
}
.address-btn button{

    padding: 0% 2% 0% 2%;
    height: fit-content;
    font-size: 10px;
}
.old-address{
    padding: 0% 3% 2% 6%; 
    width: 50%;
}
.customer-address
{
    width: 70%;
    height: fit-content;
    margin-left: 2%;
}
.name-mobile-cnt
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
    flex-wrap: wrap;

}
.field-cnt{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;

}
.ip{
    width: 70%;
    height: 25px;
 }
 .address-cnt
 {
 margin-left: 5%;
 display: flex;
 flex-direction: column;
 gap: 10px;
 margin-bottom: 2%;
 flex-wrap: wrap;

 }
 .address-ip
 {
     width: 98%;
     height: 80px;
     resize: none;
 }
 .city-town
 {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
 }
 .value{
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #0A0102;
text-transform: capitalize;
opacity: 1;
font-size: 15px;
 }
 .input-cnt{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #acabab;
border-radius: 2px;
opacity: 1;
padding: 4% 5%;
width: 100%;
 }
 .type{
    width: 70%;
    margin-top: 3%;
    margin-left: 5%;

 }
 .type-list{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
    flex-wrap: wrap;
 }
 .continue{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
 }
 .continue-btn{
    //padding: 2.6% 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    background-color: #3371B5 ;
    border-radius: 3px;
    color: white;
    opacity: 1;
 }
 .heading-content{
    // border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.orderlist-items{
    padding: 1.564% 0.700% 0.800% 10%;
}
.items{
    font-size: 1em;
    font-weight: bold;
}
.home{
    cursor: pointer;
}
.orderlist-cnt{
    height: fit-content;
    width: 65%;
    border: 1px solid rgba(230, 225, 225, 0.644);
    background-color: rgba(235, 224, 224, 0.066);
    margin-left: 11%;
    border-radius: 4px;
    margin-bottom: 1.5%;
    margin-top: 20px;
}
.address-header{
    width: 94%;
    padding: 1.5% 3%;
    // border: 2px solid red;
    background-color: rgb(240, 240, 240);
    span{
        font-size: 20px;
    }
}

.content
{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.book-img{
    padding: 4% 3%;
    width: 1%;
}
.book-img img{
    width: 700%;
}

.booktitle
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: large;
    font-weight: 500;
    padding-bottom: 4px;
    font-size: 24px;
}
.cart-detail{
    // border: 2px solid red;
    width: 65%;
    padding-left: 4%;
}
.rating-cnt{
    padding-top: 9px;
    display: flex;

}
.offer{
    text-decoration: line-through;
    font-size: 15px;
}
.ordered-buuton{
    margin-top: 50%;
}
