.cart-outer-cnt
{

    height: fit-content;
    width: 65%;
    border: 1px solid rgba(230, 225, 225, 0.644);
    background-color: rgba(235, 224, 224, 0.066);
    margin-left: 11%;
    border-radius: 4px;
    margin-bottom: 2.5%;
}
.count-cnt
{
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-wrap: wrap;
    // justify-content: space-around;
    gap: 60%;
}
.loc-icon-cnt{
    padding: 5px;
    height: 18%;
    width: fit-content;
    border: 1px solid;
display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.loc-icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.img-cnt
{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin-left: 5%;
    height: 100%;
    // width: 100%;
    padding: 35px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;

}
.content img{
    height:80px;
    display: flex;
    
}
.content
{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    // margin-left: 8%;
    gap: 15px;
    
}
.booktitle
{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    font-size: large;
    font-weight: 500;
}
.originalprice
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    color: #616161;
    text-decoration: line-through;
    font-size: 80%;
    font-weight: 100;
}
.sellingprice
{
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;

    font-weight: bold;
}
.button
{
    height: fit-content;
}
.count
{
    // height: 100%;
    display: flex;
    // flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 65%;
}.countvalue
{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10%;
    width: 30%;
    border: 1px solid;
}
.increament
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 15%;
    border: 1px solid;
    border-radius: 100%;
}
.bottom
{
    height: 10%;
    width: 65%;
    border: 1px solid rgba(230, 225, 225, 0.644);
    background-color: rgba(235, 224, 224, 0.066);
    margin-left: 11%;
    border-radius: 4px;
    margin-top: 1%;
    display: flex;
    align-items: center;
}
.customer-details-outer-cnt
{
    width: 63%;
    border: 1px solid rgba(230, 225, 225, 0.644);
    background-color: rgba(235, 224, 224, 0.066);
    margin-left: 11%;
    border-radius: 4px;
    margin-top: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.cust-det-cnt
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.details
{
    height: 90%;
    width: 98%;
    padding: 1%;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
.name-mobile-cnt
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.field-cnt{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}
.ip{
   width: 70%;
   height: 25px;
}
.address-cnt
{
margin-left: 5%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 10px;
}
.address-ip
{
    width: 70%;
    height: 80px;
    resize: none;
}
.city-town
{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.type{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5%;
    div{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
.checkout-btn
{
    display: flex;
    //align-items: end;
    width: 90%;
    flex-wrap: wrap;
    justify-content: end;
    // margin-right: 20px;
}