<div class="login-outer-cnt">
    <div class="login-img" >
      <img src="assets/cart.png" alt="">
      <strong>Online Book Shoping</strong>
    </div>
    <div class="login-cnt">
      <div class="login-cnt-inner">
        <span [ngClass]="{ 'active': activeTab === 'login' }" (click)="setActiveTab('login')" >LOGIN</span>
        <span [ngClass]="{ 'active': activeTab === 'signup' }" (click)="setActiveTab('signup')">SIGNUP</span>
      </div>
      
      <div *ngIf="activeTab === 'login'; else signup">
        <br>
        <form [formGroup]="loginForm" class="inputs">
          <div class="email-input">
            <mat-form-field appearance="fill">
              <!-- <mat-label>Enter your email</mat-label> -->
              <input matInput placeholder="Enter your Email..." formControlName="email" required style="padding: 10px;">
              <mat-error *ngIf="loginForm.get('email')?.invalid">{{getErrorMessage('email')}}</mat-error>
            </mat-form-field>
          </div>
          
          <div class="password-input">
            <mat-form-field appearance="fill">
              <!-- <mat-label>Enter your password</mat-label> -->
              <input matInput placeholder="Enter your Password..." formControlName="password" [type]="hide ? 'password' : 'text'" style="padding: 10px;">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <button class="login-btn" mat-button (click)="login()">&nbsp; LOGIN &nbsp;</button>
          <!-- <button class="login-btn" mat-raised-button color="primary" (click)="login()">Login</button> -->
          <br>
          --------------------------- &nbsp; &nbsp; OR &nbsp; &nbsp; ---------------------------
        </form>
        <br><br>
        <div class="other-login">
          <button mat-raised-button color="primary">FaceBook</button>
          <button mat-raised-button color="primary">Google</button>
        </div>
      </div>
      
      <ng-template #signup>
        <div class="sign-up">
          <form [formGroup]="signupForm" class="sign-up-fields">
            <mat-form-field appearance="outline">
              <!-- <mat-label>Full Name</mat-label> -->
              <input matInput placeholder="Full Name" formControlName="fullName" style="padding: 10px;border:thick 5px white;">
              <mat-error *ngIf="signupControl['fullName'].invalid">{{getErrorMessage('fullName')}}</mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
              <!-- <mat-label>Email</mat-label> -->
              <input matInput placeholder="Email" formControlName="email" style="padding: 10px;">
              <mat-error *ngIf="signupControl['email'].invalid">{{getErrorMessage('email')}}</mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
              <!-- <mat-label>Password</mat-label> -->
              <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" style="padding: 10px;">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="signupControl['password'].invalid">{{getErrorMessage('password')}}</mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
              <!-- <mat-label>Mobile Number</mat-label> -->
              <input matInput placeholder="Mobile Number" formControlName="mobileNumber" style="padding: 10px;">
              <mat-error *ngIf="signupControl['mobileNumber'].invalid">{{getErrorMessage('mobileNumber')}}</mat-error>
            </mat-form-field>
            
            <button style="width: 100%; margin: 10px; color: white;background-color: brown;" mat-raised-button color="primary" (click)="signupmeth()">Signup</button>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
  
